@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 /* font-family: "Work Sans", sans-serif; */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#hero{
    background-image: linear-gradient(0deg, rgba(9.197244644165039, 8.92899227142334, 8.92899227142334, 1),rgba(16, 16, 16, 0) 100%),
    url(./photos/hero-bg.png);
    background-size: cover;
    background-position: center;
    /* width: 120rem;  use with make extra overflow*/ 
    height: 58rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

#hero .hero-container{
    width: 63.938rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    

}

#hero .hero-container .subtittle{
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero-container .hero-tittle{
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero-container .content{
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}

.btn-content{
    text-align: center;
}

.btn-content .btn-1{
    border-radius: 8px;
    background: rgba(82, 195, 3, 1);
    padding: 21px 32px 21px 32px;
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    border: none;
}

/* 2nd part start */
.tittle-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10.438rem;
    gap: 1rem;
    /* width: 43.188rem; */
}

.tittle-bar p{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.tittle-bar h1{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    width: 43.188rem;
}

.cart-bars{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;

}

.cart-menu img{
    width: 100%;
}
.cart-menu{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1rem;
}

.item-name{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 14px 32px 14px 32px;
    width: 15rem;
    height: 56px;

   

}

.cart-menu h1{
    color: rgba(16, 16, 16, 1);
font-family: Work Sans;
font-size: 2rem;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}

.cart-menu p{
    color: rgba(16, 16, 16, 1);

font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
word-wrap:break-word;
}

.cart-box{
    margin-bottom: 11rem;
}
