@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 /* font-family: "Work Sans", sans-serif; */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}

#hero{
    background-image: linear-gradient(0deg, rgba(9.197244644165039, 8.92899227142334, 8.92899227142334, 1),rgba(134, 95, 95, 0) 100%),
    url(./photos/hero-bg.png);
    /* width: 120rem; */
    /* width: 100%; */
    height: 57.438rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

#hero .hero-content{
    width: 63.938rem;

}

#hero .hero-content .subtittle {
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 1rem;
}

#hero .hero-content .hero-tittle{
    color: rgba(255, 255, 255, 1);

font-family: Work Sans;
font-size: 64px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 1.5rem;
}

#hero .hero-content .content{
    color: rgba(255, 255, 255, 1);

font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 2rem;
}

/* all button */
.btn-1{
    background-color: rgb(31, 194, 31);
    padding: 15px 15px;
    border-radius: 8px;
    color: white;
    border: none;
    padding: 21px 32px 21px 32px;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 600;
    line-height: 100%;

}

.btn-content{
    text-align: center;
}




